[Unit]
Description=Xflux for Nay's location (don't use it no nuke me please)
After=network.target display-manager.service

[Service]
Type=forking
ExecStart=/usr/bin/xflux -l 55.938546 -f -3.219342 -k 3800
Restart=always

[Install]
WantedBy=graphical.target
